<%- include('./layout.ejs'); %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header ">
                    Latest Banter
                </div>
                <div class="card-body">
                    <% if (message_list.length > 0) { %>
                        <% message_list.forEach(message => { %>
                            <div class="mb-4">
                                <h4><a href="<%= message.url %>" class="text-dark"><%= message.title %></a></h4>
                                <p class="text-muted mb-2">By <%= message.creator.fname %> <%= new Date(message.timestamp).toLocaleDateString() %> <%= new Date(message.timestamp).toLocaleTimeString() %> </p>
                                <% if (message.text) { %>
                                    <p><%= message.text.substring(0, 20) %>...</p>
                                <% } else { %>
                                    <p>No text available.</p>
                                <% } %>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No posts available.</p>
                    <% } %>
                    <a href="/posts" class="btn btn-primary">View All Banter</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header ">
                    Statistics
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><strong>Total Posts:</strong> <%= message_count %></li>
                        <!-- Add more statistics as needed -->
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header ">
                    Whats New?
                </div>
                <div class="card-body">
                    <form method="POST" action="/message/create">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input id="title" class="form-control" type="text" placeholder="Enter title" name="title" required>
                        </div>

                        <div class="form-group">
                            <label for="text">Text:</label>
                            <textarea id="text" class="form-control" placeholder="Enter text" name="text" required></textarea>
                        </div>

                        <button class="btn btn-primary" type="submit">Post</button>
                    </form>
                </div>
            </div>
            <br>
            <a  class="btn btn-primary" href="/rooms">Chatrooms</a>

        </div>
    </div>
</div>

<%- include('./footer.ejs'); %>
